@font-face {
  font-family: "windowsxp";
  src: url("../../../sources/windows-xp-tahoma.ttf") format("truetype");
}

.ImageWrapper {
  padding: 0.5rem;
  border-color: #e2e8f0;
}

.Icons {
  display: flex;
}

.folderImage {
  width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(80, 98, 152) rgb(239, 239, 239) rgb(239, 239, 239)
    rgb(0, 0, 0);
}

.folderImageContainer {
  position: relative;
  display: inline-block;
}

.folderImageInside {
  height: 20%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.TextWrapper {
  padding: 10px;
  height: 300px;
  background-color: rgb(242, 235, 235);
}
.Text {
  font-size: 24px;
}
.FolderLogo {
  width: 20px;
}
.InputWrapper {
  width: 150px;
  height: 4px;
  margin: 0 16px 0 10px;
  transform-origin: left;
  transform: rotate(270deg) translateX(calc(-50% + 8px));
}
.SlidesWrapper {
  display: flex;
  justify-content: center;
  height: 600px;
  flex-wrap: wrap;
  align-items: center;
}
label {
  margin: 0;
  padding: 0;
}
.Slide {
  width: 90px;
  height: 100px;
  display: flex;
  align-items: center;
}

.Title {
  width: 100%;
  text-align: center;
}
.Slide input[type="range"] {
  -webkit-appearance: none;
  width: 100px;
  height: 4px;
  background: #b4b4b4;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.Slide input[type="range"]:hover {
  opacity: 1;
}

.Slide input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #1da11b;
  cursor: pointer;
}

.Slide input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #1da11b;
  cursor: pointer;
}

.Slide input[type="range"]::-ms-thumb {
  width: 10px;
  height: 10px;
  background: #1da11b;
  cursor: pointer;
}
