@font-face {
  font-family: "windowsxp";
  src: url("../../sources/windows-xp-tahoma.ttf") format("truetype");
}

.ImageWrapper {
  padding: 0.5rem;
  border-color: #e2e8f0;
}

.Icons {
  display: flex;
}

.folderImage {
  width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(80, 98, 152) rgb(239, 239, 239) rgb(239, 239, 239)
    rgb(0, 0, 0);
}

.folderImageContainer {
  position: relative;
  display: inline-block;
}

.folderImageInside {
  height: 20%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.TextWrapper {
  display: flex;
  height: 300px;
  padding: 0 5px 5px;
  background-color: #0997ff;
  flex-direction: column;
}
.Text {
  flex: 1 1 auto;
  outline: none;
  font-family: "Lucida Console", monospace;
  font-size: 13px;
  line-height: 19px;
  resize: none;
  overflow: scroll;
}
.FolderLogo {
  width: 20px;
}
.UlWrapper {
  display: flex;
  flex-direction: column;
}
