@font-face {
  font-family: "windowsxp";
  src: url("../../sources/windows-xp-tahoma.ttf") format("truetype");
}

.ImageWrapper {
  padding: 0.5rem;
  border-color: #e2e8f0;
}

.Wrapper {
  box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9,
    inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda,
    inset 3px 3px #0855dd;
  border-top-left-radius: 8px;
  -webkit-font-smoothing: antialiased;
  border-top-right-radius: 8px;
  padding: 0 0 3px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: #f0f0f0;
  border: 1px solid #999;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 99%;

  border-color: rgb(239, 239, 239) rgb(0, 0, 0) rgb(0, 0, 0) rgb(239, 239, 239);
}
@media only screen and (max-width: 600px) {
  .Wrapper {
    background-color: lightblue;
  }
}

.TitleBar {
  display: flex;
  word-break: break-word;
  -webkit-box-pack: justify;
  white-space: normal;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.225rem;
  font-family: windowsxp;
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  background-color: #0078d4;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  cursor: default;

  min-height: 40px;
}
@media (min-width: 701px) {
  .Wrapper {
    max-width: 600px;
    max-height: 700px;
    left: 13%;
    top: 15%;
  }
}

.Title {
  flex-grow: 1;
  margin-left: 5px;
}

.Icons {
  display: flex;
}

.MinimizeButton,
.CloseButton {
  background-image: url("../../sources/close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 18px;
  color: rgb(77, 77, 77);
  cursor: pointer;
  margin-right: 10px;
  user-select: none;
}

.CloseButton {
  background-image: url("../../sources/close-hover.svg");
}

.CloseButton:hover {
  background-color: #2e2e2e;
}

.folderImage {
  width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(80, 98, 152) rgb(239, 239, 239) rgb(239, 239, 239)
    rgb(0, 0, 0);
}

.folderImageContainer {
  position: relative;
  display: inline-block;
}

.folderImageInside {
  height: 20%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.Options {
  border-bottom: solid 1px rgb(60, 60, 238);
  background-color: #cdcccc;
  display: flex;
  align-items: center;
  height: 20px;
  gap: 5px;
  padding-left: 5px;
}

.TextWrapper {
  padding: 10px;
  height: 300px;
  background-color: rgb(242, 235, 235);
}
.Text {
  font-size: 24px;
}
.FolderLogo {
  width: 20px;
}
