.TitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0078d4;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  cursor: default;
  width: 100%;
  max-height: 80px;
}

.Title {
  flex-grow: 1;
}

.Icons {
  display: flex;
}

.MinimizeButton,
.CloseButton {
  width: 64px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}

.MinimizeButton {
  background-color: #0078d4;
}

.MinimizeButton:hover {
  background-color: #005a9e;
}

.CloseButton {
  background-color: #d83b01;
}

.CloseButton:hover {
  background-color: #a4262c;
}

.folderImage {
  width: 100%;
  height: auto;
}

.folderImageContainer {
  position: relative;
  display: inline-block;
}

.folderImageInside {
  height: 20%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.ChatGptWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 80%;
}

.TitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.ButtonImageWrapper {
  justify-content: center;
}
.ChatGptWrapper img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  height: 70px;
}

.Title {
  font-size: 18px;
  font-weight: bold;
}

.CloseButton {
  cursor: pointer;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.moving-bear {
  position: absolute;
  width: 30px;
  height: 30px;
  pointer-events: none;
  z-index: 9999;
}
