/* ChangeBg.module.css */

.ChangeBgWrapper {
  background-color: #f0f0f0;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 350px;
  max-height: 400px;
  z-index: 9999;
}

.ChangeBgTitleBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0078d4;
  color: white;
  font-weight: bold;
  padding: 12px 16px;
  cursor: default;
}

.ChangeBgTitle {
  flex-grow: 1;
}

.ChangeBgIcons {
  display: flex;
}

.ChangeBgCloseButton {
  width: 64px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  background-color: #d83b01;
}

.ChangeBgCloseButton:hover {
  background-color: #a4262c;
}

.ChangeBgOptions {
  padding: 16px;
  justify-content: center;
}

.ChangeBgOption {
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f0f0f0;
  margin-bottom: 8px;
}

.ChangeBgOption:last-child {
  margin-bottom: 0;
}

.ChangeBgOption:hover {
  background-color: #e0e0e0;
}
