@font-face {
  font-family: "windowsxp";
  src: url("../../sources/windows-xp-tahoma.ttf") format("truetype");
}

.SuccessfulSubmitText {
  margin-left: 10px;
  font-size: 24px;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    #ff0000,
    #ff8000,
    #ffff00,
    #80ff00,
    #00ff00,
    #00ff80,
    #00ffff,
    #0080ff,
    #0000ff,
    #8000ff,
    #ff00ff,
    #ff0080,
    #ff0000
  );
  background-size: 1500% 1500%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: rainbowAnimation 5s linear infinite;
}
@keyframes rainbowAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.ImageWrapper {
  padding: 0.5rem;
  border-color: #e2e8f0;
}

.Icons {
  display: flex;
}


.folderImage {
  width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(80, 98, 152) rgb(239, 239, 239) rgb(239, 239, 239)
    rgb(0, 0, 0);
}

.folderImageContainer {
  position: relative;
}

.folderImageInside {
  height: 20%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.Options {
  border-bottom: solid 1px rgb(60, 60, 238);
  background-color: #cdcccc;
  display: flex;
  align-items: center;
  height: 20px;
  gap: 5px;
  padding-left: 5px;
}

.TextWrapper {
  padding: 10px;
  height: 300px;
  background-color: rgb(242, 235, 235);
}
.Text {
  font-size: 24px;
}
.FolderLogo {
  width: 20px;
}

.Email input {
  margin-left: 62px;
}
.Content {
  display: flex;
}
.Content textarea {
  height: 150px;
  width: 220px;
  margin-top: 30px;
}
.Content label {
  margin-top: 30px;
}
.PasswordForm {
  padding: 10px;
}
.EmailValidSpan {
  color: red;
  width: 100%;
}
