@font-face {
  font-family: "windowsxp";
  src: url("../../sources/windows-xp-tahoma.ttf") format("truetype");
}

.TitleBar {
  display: flex;
  word-break: break-word;
  -webkit-box-pack: justify;
  white-space: normal;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.225rem;
  font-family: windowsxp;
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  background-color: #0078d4;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  cursor: default;

  min-height: 40px;
}

.Title {
  flex-grow: 1;
  margin-left: 5px;
}

.Icons {
  display: flex;
}

.folderImage {
  width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(80, 98, 152) rgb(239, 239, 239) rgb(239, 239, 239)
    rgb(0, 0, 0);
}

.folderImageContainer {
  position: relative;
  display: inline-block;
}

.folderImageInside {
  height: 20%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.ButtonImageWrapper {
  display: flex;
  padding: 0 5px 5px;
  background-color: #0997ff;
  flex-direction: column;
}
.Text {
  font-size: 24px;
}
.FolderLogo {
  width: 20px;
}
