@font-face {
  font-family: "windowsxp";
  src: url("../../sources/windows-xp-tahoma.ttf") format("truetype");
}

.ImageWrapper {
  padding: 0.5rem;
  border-color: #e2e8f0;
}

.Icons {
  display: flex;
}

.folderImage {
  width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(80, 98, 152) rgb(239, 239, 239) rgb(239, 239, 239)
    rgb(0, 0, 0);
}

.folderImageContainer {
  position: relative;
  display: inline-block;
}

.folderImageInside {
  height: 20%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.TextWrapper {
  padding: 10px;
  height: 300px;
  z-index: 999;
  display: flex;
  background-color: rgb(242, 235, 235);
}
.Text {
  font-size: 16px;
}
.FolderLogo {
  width: 20px;
}
.UlMain {
  padding-top: 30px;
  padding-left: 10px;
  font-size: 18px;
}
.UlMain li {
  list-style-type: none;
  margin-top: 3px;
  font-size: 17px;
}
.UlMain ul li {
  position: relative;
}
.UlBeta {
  padding-inline-start: 40px;
  margin-top: 3px;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px dotted grey;
  font-size: 14px;
}
.UlBeta li:before {
  content: "";
  position: absolute;
  left: -17px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 1px;

  border-radius: 1px;
  border-top: 1px dotted grey;
}

.ContentWrapper {
  display: flex;
  height: 300px;
}
.TextPaperClip {
  width: 200px;
  padding-top: 70px;
}
.ImagePaperClip {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 290px;
  top: 255px;
}
.CloudPaperClip {
  width: 216px;
  height: 158px;
  position: absolute;
  left: 183px;
  top: 123px;
  z-index: -1;
}
