@font-face {
  font-family: "windowsxp";
  src: url("../../sources/windows-xp-tahoma.ttf") format("truetype");
}

.ImageWrapper {
  padding: 0.5rem;
  border-color: #e2e8f0;
}

.ChatGptWrapper {
  box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9,
    inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda,
    inset 3px 3px #0855dd;
  border-top-left-radius: 8px;
  -webkit-font-smoothing: antialiased;
  border-top-right-radius: 8px;
  padding: 0 0 3px;
  position: absolute;
  left: 0;
  top: 250px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: #f0f0f0;
  border: 1px solid #999;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 400px;
  max-height: 500px;
  border-color: rgb(239, 239, 239) rgb(0, 0, 0) rgb(0, 0, 0) rgb(239, 239, 239);
}
@media (max-width: 700px) {
  .ChatGptWrapper {
    background-color: lightblue;
    width: 95%;
    left: 0;
    top: 250px;
  }
}
@media (min-width: 701px) {
  .ChatGptWrapper {
    background-color: lightblue;
    top: 36%;
    left: 36%;
  }
}
.TitleBar {
  display: flex;
  word-break: break-word;
  -webkit-box-pack: justify;
  white-space: normal;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.225rem;
  font-family: windowsxp;
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  background-color: #0078d4;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  cursor: default;

  min-height: 40px;
}

.Title {
  flex-grow: 1;
  margin-left: 5px;
}

.Icons {
  display: flex;
}

.MinimizeButton,
.CloseButton {
  background-image: url("../../sources/close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 18px;
  color: rgb(77, 77, 77);
  cursor: pointer;
  margin-right: 10px;
  user-select: none;
}

.CloseButton {
  background-image: url("../../sources/close-hover.svg");
}

.CloseButton:hover {
  background-color: #2e2e2e;
}

.Options {
  border-bottom: solid 1px rgb(60, 60, 238);
  background-color: #cdcccc;
  display: flex;
  align-items: center;
  height: 20px;
  gap: 5px;
  padding-left: 5px;
}

.TextWrapper {
  padding: 10px;
  height: 300px;
  background-color: rgb(242, 235, 235);
  display: flex;
  flex-direction: column;
}
.Text {
  font-size: 24px;
}
.FolderLogo {
  width: 20px;
}
.TextWrapper input {
  width: 30px;
  height: 30px;
  padding-top: 30px;
  display: flex;
}
.TextWrapper label {
  font-size: 26px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.TextWrapper input[type="checkbox"]:before {
  content: "";
  position: absolute;
  left: 13px;
  width: 32px;
  height: 32px;
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  margin-right: 6px;
}
.TextWrapper input:after {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../../sources/check.svg");
  z-index: 4;
}
.TextWrapper div {
  display: flex;
}
