.Ad {
  width: 100%;
  height: 40px;
  background-color: aqua;
  display: flex;
  justify-content: center;
}

.AdGif {
  width: 90%;
}
.RightSectionWrapper {
  width: 30%;
  background-color: lightyellow;
  border: black 1px solid;
}
.LeftSectionWrapper {
  width: 65%;
  background-color: #fffff0;
  display: flex;
  border: black 1px solid;
  flex-direction: column;
  justify-content: space-between;
}
.MessageWrapper {
  height: 30px;
  width: 98%;
}
.YellowBackground {
  background-color: lightyellow;
}

.MessageWrapper {
  margin-left: 5px;
}

.Wrapper {
  background-color: orange;
  display: flex;
  justify-content: center;
}
.Textbox {
  height: 60px;
  width: 90%;
}
.Buttons {
  display: flex;
  justify-content: space-evenly;
}
.MassageDate {
  margin-left: 10px;
}
.ContactName {
  margin-left: 10px;
}
.ContactWrapper {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
}
.ContactWrapper:hover {
  background-color: rgb(56, 54, 175);
}

.TextareaWrapper {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ContactsText {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  height: 40px;
  display: flex;
  font-size: 30px;
  justify-content: center;
}
.ContactsWrapper img {
  height: 20px;
}
.ContactsWrapper {
  overflow: scroll;
  height: 100%;
}
.TextBoxWrapper {
  display: flex;
  flex-direction: column;
}
.MessagesWrapper {
  height: 200px;
  overflow: scroll;
}
.UserNameTextInfo {
  width: 100%;
  text-align: center;
}
