.TitleBar {
  display: flex;
  word-break: break-word;
  -webkit-box-pack: justify;
  white-space: normal;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.225rem;
  font-family: Tahoma, sans-serif;
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  background-color: #0078d4;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  cursor: default;

  min-height: 30px;
}
.CloseButton {
  background-image: url("../../sources/close-hover.svg");
  height: 24px;
  width: 24px;
}
.MinimizeButton {
  background-image: url("../../sources/minimize.svg");
  height: 24px;
  width: 24px;
}
.FolderLogo {
  width: 20px;
}
.ImgTitle {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Title {
  margin-left: 5px;
  height: 25px;
  width: 220px;
  line-height: 25px;
  font-weight: 700;
  font-size: 12px;
  font-family: "Tahoma";
  text-shadow: rgb(0, 0, 0) 1px 1px;
  color: white;
  position: absolute;
  left: 32px;
  right: 3px;
  -webkit-box-align: center;
  align-items: center;
}
.Icons {
  width: 100px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-right: 10px;
  z-index: 4;
}
