.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  background-image: url("./sources/tapeta.jpg");
  height: 100vh;
  background-size: cover;
}

.angel-hour-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 74px;
  font-weight: bold;
  color: transparent;
  text-align: center;
  background-image: linear-gradient(
    45deg,
    #ff0000,
    #ff8000,
    #ffff00,
    #80ff00,
    #00ff00,
    #00ff80,
    #00ffff,
    #0080ff,
    #0000ff,
    #8000ff,
    #ff00ff,
    #ff0080,
    #ff0000
  );
  background-size: 1500% 1500%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: rainbowAnimation 5s linear infinite;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.moving-bear {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: scaleX(-1);
}
