body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-text-color: #000;
  --main-background-image: url("./sources/tapeta.jpg");
  --transition-duration: 0.5s;
}

[data-theme="dark"] {
  --main-text-color: #d8b9c3;
  --main-background-image: url("./sources/tapeta6.jpg");
  --transition-duration: 0.5s;
}
